# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs (opcional)
# =========================
.vscode/
.idea/

# =========================
# Publish
# =========================
publish/
wwwroot/dist/

# =========================
# NuGet
# =========================
*.nupkg
packages/
/UC000608/Models/ErrorViewModel.cs
/UC000608/Models/User.cs
/UC000608/Controllers/UserController.cs
