@model UC000608.Models.TipoPlano

<div class="container mt-4">
    <h2>Criar Tipo de Plano</h2>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input asp-for="Nome" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">% de desconto</label>
            <input asp-for="Desconto" type="number" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
