@model IEnumerable<UC000608.Models.Estados>

<div class="container mt-4">
    <h2>Estados</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estado in Model)
            {
                <tr>
                    <td>@estado.Nome</td>
                </tr>
            }
        </tbody>
    </table>
</div>